html,
body {
  height: 100%;
  margin: 0;
}

.main-page {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-container {
  border: solid lightblue 3px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  color: lightblue;
}

.cell {
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  border: 1px solid black;
}
